body{
    background: linear-gradient(to bottom, #99ff99 0%, #ff99cc 100%);
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: 5px;
    font-family: Courier New;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
}